<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Portfolio of {{ name }}, an exceptional IT Graduate excelling in Python and automation testing.">
    <meta name="keywords" content="IT, Python, Developer, Tester, Selenium, Flask, {{ name }}">
    <meta name="author" content="{{ name }}">
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" as="style" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div id="stars"></div>
    <div id="canvas-container"></div>
    <div class="content">
        <section class="main-section">
            <nav>
                <h1 data-aos="zoom-in" data-aos-duration="1000">WEBSITE</h1>
                <button class="hamburger" onclick="toggleMenu()" aria-label="Toggle navigation menu">☰</button>
                <ul class="nav-menu">
                    <li data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100"><a class="active" href="#home">Home</a></li>
                    <li data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200"><a href="#about">About</a></li>
                    <li class="dropdown" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                        <a href="#projects" class="dropbtn">Projects</a>
                        <div class="dropdown-content">
                            <a href="#projects">Projects</a>
                            <a href="#personal-projects">Personal Projects</a>
                        </div>
                    </li>
                    <li data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400"><a href="#skills">Skills</a></li>
                    <li data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500"><a href="#certifications">Certifications</a></li>
                </ul>
                <div class="nav-controls">
                    <button id="theme-toggle" class="btn-nav" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
                        <i class="fas fa-moon"></i>
                    </button>
                    <button id="lang-toggle" class="btn-nav" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="700">
                        EN/VN
                    </button>
                </div>
            </nav>

            <div class="hero">
                <div class="hero-info">
                    <h1 data-aos="fade-right" data-aos-duration="1000" data-aos-delay="700">Hi, I'm {{ name }}</h1>
                    <h2 data-aos="fade-left" data-aos-duration="1000" data-aos-delay="900">I'm a Developer</h2>
                    <p data-aos="flip-down" data-aos-duration="1000" data-aos-delay="1000">
                        <strong>Education:</strong> {{ education }}<br>
                        <strong>Major:</strong> {{ major }}<br>
                        <strong>Degree:</strong> {{ degree }}<br>
                        <strong>Date of Birth:</strong> {{ dob }}<br>
                        <strong>Phone:</strong> {{ phone }}<br>
                        <strong>Email:</strong> {{ email }}<br>
                        <strong>Address:</strong> {{ address }}</p>
                    <div class="Buttons">
                        <a href="{{ url_for('static', filename='LeHuynhAnhTuyet_CV_FresherTestAutomationEngineer.pdf') }}" download="CV.pdf" class="btn" data-aos="zoom-in-right" data-aos-duration="1000" data-aos-delay="1100">Download My CV</a>
                        <ul class="ul-icons">
                            <li><a href="https://github.com/TuyetLe14" target="_blank" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1200"><i class='bx bxl-github'></i></a></li>
                            <li><a href="https://www.facebook.com/share/1C9wDn63q3/" target="_blank" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1500"><i class='bx bxl-facebook-circle'></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="hero-img" data-aos="zoom-in-left" data-aos-duration="2500">
                    <img src="{{ url_for('static', filename='images/Avatar1.png') }}" alt="person-img">
                </div>
            </div>
        </section>

        <div class="container my-6"> 
            <section class="mb-6" id="about">
                <h2 class="text-center mb-5 text-4xl fw-bold neon-glow" style="color: var(--primary-color);">OBJECTIVE</h2>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="about-card card-galaxy p-5 text-center">
                            <p style="color: var(--primary-color);">
                                Enthusiastic and detail-oriented IT graduate with internship exposure to manual and automation testing. Familiar with tools such as Selenium, TestNG, and Postman. Basic knowledge of Java, Python, RESTful APIs, and Agile methodology. Eager to join a QA team where I can apply and improve my testing skills while contributing to software quality.
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="mb-6" id="projects">
                <h2 class="text-center mb-5 text-4xl fw-bold neon-glow" style="color: var(--primary-color);">PROJECTS</h2>
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                    {% for project in projects %}
                    <div class="col" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="{{ loop.index * 100 }}">
                        <div class="project-card card-galaxy">
                            <div class="card-body p-4">
                                <h3 class="card-title text-2xl neon-glow">{{ project.title }}</h3>
                                <p class="description-text mt-3">{{ project.description }}</p>
                                <p class="card-text mt-2"><i class="fas fa-tools"></i> {{ project.tools }}</p> 
                                <p class="mt-2 text-success" style="color: #28a745;"><i class="fas fa-trophy"></i> {{ project.achievement }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>

            <section class="mb-6" id="personal-projects">
                <h2 class="text-center mb-5 text-4xl fw-bold neon-glow" style="color: var(--primary-color);">PERSONAL PROJECTS</h2>
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                    {% for project in personal_projects %}
                    <div class="col" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="{{ loop.index * 100 }}">
                        <div class="project-card card-galaxy">
                            <div class="card-body p-4">
                                <h3 class="card-title text-2xl neon-glow">{{ project.title }}</h3>
                                <p class="description-text mt-3">{{ project.description }}</p>
                                <p class="card-text mt-2"><i class="fas fa-tools"></i> {{ project.tools }}</p>
                                <p class="mt-2 text-success" style="color: #28a745;"><i class="fas fa-trophy"></i> {{ project.achievement }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>

            <section class="mb-6" id="skills">
                <h2 class="text-center mb-5 text-4xl fw-bold neon-glow" style="color: var(--primary-color);">SKILLS</h2>
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="skill-card card-galaxy p-5 text-center">
                            <div class="row">
                                <div class="col-4">
                                    <h4 class="neon-glow">Programming</h4>
                                    <p class="mt-2" style="color: var(--primary-color);">Python (Flask, OpenCV, TensorFlow), Java, C#</p>
                                </div>
                                <div class="col-4">
                                    <h4 class="neon-glow">Testing skills</h4>
                                    <p class="mt-2" style="color: var(--primary-color);"> Selenium, TestNG, Manual Testing, Automation Testing, JMeter  </p> 
                                </div>
                                <div class="col-4">
                                    <h4 class="neon-glow">Development Tools</h4>
                                    <p class="mt-2" style="color: var(--primary-color);"> Jira, Postman, Visual Studio Code, IntelliJ IDEA  </p> 
                                </div>
                                <div class="col-4">
                                    <h4 class="neon-glow">Databases</h4>
                                    <p class="mt-2" style="color: var(--primary-color);"> SQL (SQLite, SQL Server), Familiar with NoSQL (e.g., MongoDB)</p>
                                </div>
                                <div class="col-4">
                                    <h4 class="neon-glow">Frameworks</h4>
                                    <p class="mt-2" style="color: var(--primary-color);">Angular, ASP.NET</p>
                                </div>
                                <div class="col-4">
                                    <h4 class="neon-glow">Others</h4>
                                    <p class="mt-2" style="color: var(--primary-color);">Technical English (reading proficiency), Deep Learning, Testing (Selenium), 
                                        SVN, RESTful API, Agile/Scrum </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="mb-6" id="certifications">
                <h2 class="text-center mb-5 text-4xl fw-bold neon-glow" style="color: var(--primary-color);">CERTIFICATIONS</h2>
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="certification-card card-galaxy p-5 text-center">
                            <ul class="list-unstyled mt-4">
                                <li class="mb-2" style="color: var(--primary-color);"><i class="fas fa-certificate"></i> Automation Testing (Testing Vietnam, 11/2022)</li>
                                <li class="mb-2" style="color: var(--primary-color);"><i class="fas fa-certificate"></i> Jira Fundamentals (Atlassian, 10/2022)</li>
                                <li class="mb-2" style="color: var(--primary-color);"><i class="fas fa-certificate"></i> Fresher Tester (Testing Vietnam, 05/2022 - 07/2022)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <footer class="footer-galaxy">
            <p class="mb-3" style="color: var(--primary-color);">© {{ year }} {{ name }}. All rights reserved.</p>
        </footer>
    </div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
        function toggleMenu() {
            document.querySelector('.nav-menu').classList.toggle('active');
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" async defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/examples/js/controls/OrbitControls.js"></script>
    <script src="{{ url_for('static', filename='js/background.js') }}"></script>
</body>
</html>